<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Basics</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>

  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }

    li {
      list-style: none;
    }


    li.Fav {
      color: blue;
    }

    li.Red {
      color: red;
    }

    .rouge {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Hello, Vue :)</h1>
  <div id="app">
    <!-- Other mouse events -->
    <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMousemove"> {{ x }} , {{ y }}</div>

    <!-- Outputting lists(v-for) -->
    <ul>
      <li v-for="(book, i ) in books" :key="i"> {{ book.title }} {{ book.author }} - {{ i }}</li>
    </ul>

    <!-- Attribute binding-->
    <a :href="url"target="_blank">Portfolio</a>
    <img v-for="(book, i ) in books" :src="book.img" :alt="book.title">

    <!-- Dynamic classes -->
    <br>
    <ul>
      <li v-for="(book, i ) in books" :key="i" :class=" { Fav: book.isFav }"> {{ book.title }} </li>
    </ul>

    <!-- Toggling favs -->
    <br>
    <ul>
      <li v-for="(book, i ) in books" :key="i" :class=" { Red: book.isFav }" @click="toggleClasses(book)"> {{ book.title }} </li>
    </ul>

    <!-- Computed properties -->

    <ul>
      <li v-for="(book, i ) in filtered" :key="i" :class=" { Red: book.isFav }"> {{ book.title }} </li>
    </ul>

    <!-- innerHTML et nœud texte -->

    <p v-text="textBrut"></p>
    <p v-html="textHTML"></p>

    <!-- Binding bidirectionnel -->

    <p>club choisi : {{ selection }}</p>

    <select name="" id="" v-model="selection">
      <option value="marseille">marseille</option>
      <option value="barcelone">barcelone</option>
      <option value="ajax">ajax</option>
    </select>

    <br>
    <br>

    <textarea name="" id="" cols="30" rows="10" v-model="multi" ></textarea>
    <div style="white-space: pre-line">{{ multi }}</div>

    <br>
    <br>

    <p v-text="hms"></p>

    <!-- Utilisation conjointe des directives v-model et v-bind -->

    <input type="checkbox" id="html" value="html" v-model="checkedNames">
    <label for="html">html</label>
    <input type="checkbox" id="css" value="css" v-model="checkedNames">
    <label for="css">css</label>
    <input type="checkbox" id="js" value="js" v-model="checkedNames">
    <label for="js">js</label>
    <br>
    <span>Noms cochés : {{ checkedNames }}</span>

    <br>
    <br>
    <input type="radio" id="html2" value="html" v-model="picked">
    <label for="html2">html</label>
    <br>
    <input type="radio" id="css2" value="css" v-model="picked">
    <label for="css2">css</label>
    <br>
    <input type="radio" id="js2" value="js" v-model="picked">
    <label for="js2">js</label>
    <br>
    <span>Choisi : {{ picked }}</span>


    <br><br>

    <!-- Les fonctions stopPropagation(), preventDefault() -->

    <div @keydown="actionParent">
      <input type="text" @keydown="actionChild">
    </div>

    <br><br>
    <!-- Suffixes stop et prevent de Vue -->

    <img 
      src="https://vignette.wikia.nocookie.net/onepiece/images/8/89/Wiki-wordmark.png/revision/latest?cb=20180401015943&path-prefix=fr"
      :width="valeur"
      @click.left="largeur(200)"
      @click.middle="largeur(150)"
      @click.right="largeur(300)">

    <!-- Arguments dynamiques -->

    <input type="radio" v-model="choix" value="click" checked id="click"> 
    <label for="click">click</label>
    <input type="radio" v-model="choix" value="dblclick" id="dblclick"> 
    <label for="dblclick">dblclick</label>
    <p>
      <img 
        src="https://yt3.ggpht.com/ytc/AAUvwni-Wm0ZBDYJYFwySP2esxgc8s9mKiwmI3yJrmjlHQ=s88-c-k-c0xffffffff-no-rj-mo" 
        @[choix]="updateWidth"
        :width="taille">
    </p>

    <!-- Classes conditionnelles -->

    <p>ton langage pref</p>

    <ul>
      <li v-for="(langage, i) in langages" :key="i">
        <input type="checkbox" v-model="langage.etatCases" id="langage.lang">
        <label :class=" { rouge:langage.etatCases }" for="langage.lang">{{ langage.lang }}</label>
      </li>
    </ul>

    <input type="text" v-model="unLang">
    <input type="button" value="add" @click="add">

    <br><br><br>

    <!-- Gestion des styles inline -->

    <select v-model="couleur">
      <option value="red" selected>rouge</option>
      <option value="black">noir</option>
      <option value="blue">bleu</option>
      <option value="green">vert</option>
    </select>

    <p :style="{color: couleur}">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id enim impedit ipsam sed! Magnam beatae libero voluptatem praesentium, vel hic aliquam voluptatibus repellat!
    </p>

    <br><br>

    <!-- Afficher du code HTML conditionnellement -->

    <input type="checkbox" v-model="etat">
    <span v-if="etat">case coché</span>
    <span v-else>pas cochés</span>


    <br><br>

    <!-- Custom-events - Envoi de messages au parent par un composant avec $emit -->

    <bievenue @coucou="disBonjour"></bievenue>

    <br><br>

    {{total}}
    <compteur @incre="plusUn"></compteur>
    <compteur @incre="plusUn"></compteur>
    <compteur @incre="plusUn"></compteur>
  </div>
  <script src="./index.js"></script>
</body>
</html>