<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vuex@4"></script>
</head>
<body>

  <div id="app">
    <p v-if="errors.length">
      <strong>erreur(s)</strong>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{error}}</li>
      </ul>
    </p>
  
    <form 
      method="post" 
      @submit="submit">

      <div>
        <label for="nom">Nom :</label> <br>
        <input type="text" name="nom" id="nom" v-model="name">
      </div>
      <div>
        <label for="email">Mail :</label> <br>
        <input type="text" name="email" id="email" v-model="email">
      </div>
      
      
      
  
      <input type="submit" value="Envoyer">
    </form>
  </div>

  <script src="./index.js"></script>
</body>
</html>